body {
  border: 1px solid mediumblue;
  background: papayawhip;
  
}
 


  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-template-areas:
      " a a a a "
      " b b b f "
      " c d e f"; 
    text-align: center;
    font-size: 3em;
    }
    .a {
      grid-area: a;
      
      background-color: blueviolet;
    }
    .b {
      grid-area: b;
     
     background-color: rgb(114, 24, 199);
    }
    .c { 
      grid-area: c;
      
      background-color: rgb(89, 31, 143);
    }
    .d {
      grid-area: d;
      
      background-color: rgb(146, 69, 218);
    }
    .e {
      grid-area: e;
      
      background-color: rgb(130, 64, 193);
    }
    .f { 
      grid-area: f;
      
      background-color: rgb(105, 49, 157);
    }


@media(max-width: 1000px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    text-align: center;
    font-size: 3em;
    grid-template-areas: 
      "a a a"
      "b b b"
      "c d e"
      "f f f"
    ;
  }
  .a {
    grid-area: a;
    
    background-color: blueviolet;
  }
  .b {
    grid-area: b;
   
   background-color: rgb(114, 24, 199);
  }
  .c { 
    grid-area: c;
    
    background-color: rgb(89, 31, 143);
  }
  .d {
    grid-area: d;
    
    background-color: rgb(146, 69, 218);
  }
  .e {
    grid-area: e;
    
    background-color: rgb(130, 64, 193);
  }
  .f { 
    grid-area: f;
    
    background-color: rgb(105, 49, 157);
  }
}
